@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap");

.adminlogin-container {
  background-color: #c80764;
  display: grid;
  margin-top: 200px;
  width: 1600px;
  height: 768px;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 100px;
}
.adminlogin-adminL {
  display: flexbox;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  width: 786px;
  height: 486px;
  top: 150px;
  font-family: Red Hat Display;
  position: relative;
}
.adminlogin-form {
  display: inline-flex;
  flex-direction: column;
 margin-left: 10em;
}
.adminlogin-login {
  background-color: #c80764;
  width: 343px;
  height: 40px;
  border-radius: 5px;
  margin-top: 30px;
  
  border: none;
  color: white;
}
.adminlogin-adminlog {
  margin-top: 8em;
  font-size: 16px;
  margin-bottom: 3em;
  margin-left: 21.8em;
}
.adminlogin-musad {
  display: none;
}
.adminlogin-input1, .adminlogin-input2 {
  background: #eeeeee;
  width: 343px;
  height: 40px;
  margin-top: 5px;
  padding: 1.5em;
  border-radius: 5px;
  border: none;
}
.adminlogin-email {
  font-size: 13px;
  font-weight: bold;
}
.adminlogin-pass {
  font-size: 13px;
  font-weight: bold;
}
.adminlogin-dont {
  padding-left: 32em;
}
.adminlogin-account {
  font-size: 13px;
  padding-top: 6em;
}
.adminlogin-container a:link {
  color: #fffafa;
  text-decoration: none;
}
.adminlogin-container a:visited {
  color: #fffafa;
  text-decoration: none;
}
.adminlogin-container a:hover {
  color: #fffafa;
}
.adminlogin-container a:active {
  color: #fffafa;
}

.adminlogin-getst {
  color: black;
}

.adminlogin-logo{
  margin-bottom: -13%;
  margin-left: 15em;
}
/*.adminlogin-create {

}*/
::placeholder {
  color: #eeeeee;
}

@media (max-width: 480px) {
  .adminlogin-adminlog {
    display: none;
  }
  .adminlogin-musad {
    display: inline-block;
    margin-top: -4%;
    font-size: 30px;
  }
  .adminlogin-gold {
    color: #a89804;
  }
  .adminlogin-logo {
    margin-bottom: 7%;
    margin-top: -0%;
    margin-left: 46%;
    width: 10%;
  }
  .adminlogin-container {
    background-color: white;
    margin-top: -55%;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    margin-bottom: 50%;
    max-width: 100%;
    overflow-x: hidden;
  }
  .adminlogin-pass {
    display: none;
  }
  .adminlogin-account {
    display: none;
  }
  .adminlogin-container a:link {
    color: #1482db;
  }
  .adminlogin-container a:visited {
    color: #1482db;
  }
  .adminlogin-container a:hover {
    color: #1482db;
  }
  .adminlogin-container a:active {
    color: #1482db;
  }

  .adminlogin-create {
    display: inline-block;
    font-size: 13px;
    color: rgb(175, 174, 174);
  }
  .adminlogin-adminL {
    display: flex;
    flex-direction: column;
    margin-top: 45%;
    font-family: Red Hat Display;
    justify-content: center;
    margin-left: 0%;
    height: fit-content;
  }
  .adminlogin-input1 .adminlogin-input2 {
    background-color: #ffffff;
    width: 18em;
    height: 3em;
    margin-top: 10px;
    border-radius: 5px;
    border-color: rgba(161, 160, 160, 0.692);
    border-style: solid;
    margin-bottom: 0%;
    margin-left: 0%;
  }
  ::placeholder {
    color: #c5c2c2;
    font-size: 14px;
    padding-left: 5%;
  }

  .adminlogin-login {
    background-color: #c80764;
    width: 21em;
    height: 3em;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 0%;
    margin-bottom: 1%;
    font-size: 12px;
  }
}
