@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.exhibitinfo_search_head {
  display: flex;
  width: 100%;
  height: auto;
  left: 0px;
  top: 27px;
  background-color: #7e7a8f;
  justify-content: space-between;
}

.exhibitinfo_search_my-account {
  position: relative;
  height: 68px;
  font-family: Hind;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 62px;
  letter-spacing: -0.2px;
  color: #000000;
  margin-top: 20px;
  margin-left: 25px;
}

.exhibitinfo_search_search-button {
  width: 390px;
  height: 25px;
  background: #ffffff;
  border-radius: 35px;
  border-style: none;
  font-family: Hind;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  color: #8a8a8a;
  margin-top: 30px;
  padding-left: 25px;
  padding-bottom: 35px;
}

.exhibitinfo_search-button img {
  margin-top: 5px;
  margin-left: 265px;
}


.exhibit_info_c1{
display: flex;
width:100px;
height:100px;
justify-content:right;
margin-left: 90px;
margin-top: 20px;
}

.exhibit_info_b1{
margin-left:20px;
margin-top: 65px;
margin-bottom: 30px;
width:262px;
height:16px;
background: #E8840D;
font-size: 8px;
color:white;
padding-top: 3px;
padding-bottom:3px;
border-radius: 50px;
border-style: none;
}

.exhibit_info_p1{
margin-top:55px;
margin-left:95px;
width:418px;
height:385px;
}
.exhibit_info_p2 {
width: 141px;
height: 93px;
margin-top: 450px;
margin-left:-428px;
}

.exhibit_info_p3 {
  width: 135px;
  height: 93px;
  margin-top: 450px;
  margin-left:-1px;
  }

.exhibit_info_p4 {
  width: 141px;
  height: 93px;
  margin-top: 450px;
  margin-left:23px;
    }

.exhibit_info_text1{
width:244px;
margin-left:20px;
font-size: 10px;
font-family: Hind;
font-style: normal;
font-weight: normal;
line-height: 10px;
letter-spacing: -0.2px;
color: #180126;
}

.exhibit_info_video{
width:234px;
height:157px;
margin-left:20px;
margin-top:10px;
}

.exhibit_info_text2{
width:244px;
margin-left:20px;
margin-top:30px;
font-size: 10px;
font-family: Hind;
font-style: normal;
font-weight: normal;
line-height: 10px;
letter-spacing: -0.2px;
color: #180126;
}
.exhibit_info_qbox{
  display:flex;
}

.exhibit_info_ellipse{
width:30px;
height:23px;
margin-top:5px;
margin-left:210px;
}

.exhibit_info_question{
width:12px;
height:9px;
margin-top:12px;
margin-left:-21px;
}


