* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


.exhibit_info_c1{
  display: flex;
  width:100px;
  height:100px;
}
  
.exhibit_info_b1{
  margin-left:650px;
  margin-top: 110px;
  margin-bottom: 30px;
  width:262px;
  background: #E8840D;
  font-size: 8px;
  color:white;
  padding-bottom:3px;
  border-radius: 50px;
  border-style: none;
}

.exhibit_info_p1{
  margin-top:45px;
  margin-left:-75px;
  width:418px;
  height:385px;
}
.exhibit_info_p2 {
  width: 141px;
  height: 93px;
  margin-top: 100px;
  margin-top: 450px;
  margin-left:-75px;
  }

  .exhibit_info_p3 {
    width: 101px;
    height: 93px;
    margin-top: 450px;
    margin-left:83px;
    }
  
  .exhibit_info_p4 {
    width: 141px;
    height: 93px;
    margin-top: 450px;
    margin-left:203px;
      }

.exhibit_info_text1{
  width:244px;
  margin-left:650px;
  font-size: 10px;
  font-family: Hind;
  font-style: normal;
  font-weight: normal;
  line-height: 10px;
  letter-spacing: -0.2px;
  color: #180126;
}

.exhibit_info_video{
  width:234px;
  height:157px;
  margin-left:370px;
  margin-top:250px;
}

.exhibit_info_text2{
  width:244px;
  margin-left:650px;
  margin-top:240px;
  font-size: 10px;
  font-family: Hind;
  font-style: normal;
  font-weight: normal;
  line-height: 10px;
  letter-spacing: -0.2px;
  color: #180126;
}

.exhibit_info_ellipse{
  width:40px;
  height:33px;
  margin-top:550px;
  margin-left:610px;
}

.exhibit_info_vector{
  width:15px;
  height:10px;
  margin-top:562px;
  margin-left:623px;
}

