.aboutus_c1 {
  justify-content: center;
  display: flex;
}

.aboutus_container {
  display: flex;
  background-color: #7e7a8f;
  justify-content: space-between;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 60px;
  height: 530px;
  width: 1100px;
  justify-content: center;
}

#aboutus_m2 {
  display: none;
}

.aboutus_main-image {
  padding-top: 12px;
  margin-right: 65px;
}

.aboutus_content {
  padding-top: 12px;
  margin-right: 5px;
}

.aboutus_box {
  background-color: #ffffff;
  width: 400px;
  height: 473px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 15px;
  margin-right: 90px;
}

#aboutus_m1 {
  margin-left: 100px;
}

.aboutus_h1 {
  font-family: Hind;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  margin-top: -11px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.aboutus_h2 {
  font-family: Hind;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.24px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: -10px;
}

.aboutus_h3 {
  font-family: SF Pro Display;
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 13.5px;
  line-height: 18px;
  color: #000000;
  opacity: 0.9;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
  margin-top: -2.8px;
  margin-bottom:2px;
  margin-left: 65px;
  padding-top: 7px;
}

.aboutus_p {
  font-size: 10.5px;
  font-family: SF Pro Display;
  font-family: sans-serif;
  line-height: 15px;
  color: #000000;
  width: 260px;
  text-align: left;
  margin-left: 65px;
  margin-top: 15px;
}

#aboutus_box-line {
  border-bottom: 4px solid #000000;
  height: 3px;
  width: 120px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 5px;
  margin-left: 65px;
}

.aboutus_icon {
  width: 89px;
  height: 76px;
  align-content: center;
  padding-top: 5px;
  margin-left: 175px;
  margin-top: 1px;
}

#aboutus_mobile-icon {
  display: none;
}

.aboutus_color-pic {
  display: none;
}

#aboutus_m2_alt{
  display:none;
}

@media (max-width: 480px) {
  .aboutus_container {
    display: flex;
    background-color: #ececec;
    justify-content: space-between;
    margin-top: 1px;
    height: 896px;
    width: 480px;
    justify-content: center;
    flex-direction: column;
  }

  .aboutus_c1 {
    justify-content: center;
    width: 480px;
    height: 896px;
  }

  .aboutus_main-image {
    display: none;
  }

  .aboutus_content {
    padding-top: 12px;
    margin-right: 5px;
    margin-top: 45px;
  }

  .aboutus_box {
    background-color: #ffffff;
    width: 480px;
    height: 896px;
    padding-top: 15px;
    margin-top: 255px;
  }

  .aboutus_icon {
    width: 69px;
    height: 56px;
    align-content: center;
    margin-left: 5px;
    margin-top: 15px;
  }

  #aboutus_web-icon {
    display: none;
  }

  #aboutus_m1 {
    display: none;
  }

  #aboutus_m2 {
    display: none;
    font-style: italic;
    margin-left: 65px;
  }

  .aboutus_h1 {
    display:none;
    margin-top: -145px;
    font-family: "Red Hat Display";
    margin-bottom: 20px;
  }

  .aboutus_h2 {
    margin-bottom: 30px;
    margin-top:-17px;
    margin-right: 220px;
    font-style: italic;
    font-family: "Red Hat Display";
  }

  .aboutus_h3 {
    font-family: SF Pro Display;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 13.5px;
    line-height: 18px;
    color: #000000;
    opacity: 0.9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
    margin-top: -2.8px;
    margin-left: 25px;
    padding-top: 7px;
  }

  .aboutus_p {
    font-size: 12px;
    font-family: SF Pro Display;
    font-family: sans-serif;
    line-height: 15px;
    color: #000000;
    width: 225px;
    text-align: left;
    margin-left: 25px;
  }

  #aboutus_box-line {
    border-bottom: 4px solid #000000;
    height: 3px;
    width: 120px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: -5px;
    margin-left: 25px;
  }

  #aboutus_mobile-icon {
    display: block;
    width: 70px;
    height: 50px;
    background: #ffffff;
    border: 2px solid #a89704;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    margin-top: -155px;
    margin-left: 95px;
  }
  .aboutus_color-pic {
    display: block;
    margin-left: 55px;
    margin-top:15px;
  }
  .aboutus_credit-1 {
    font-size: 10px;
    font-weight: 300;
    margin-left: 25px;
  }

  .aboutus_credit-2 {
    font-size: 10px;
    font-weight: 300;
    margin-left: 55px;
    margin-top: -1px;
  }

  #aboutus_m2_alt{
    display:block;
    font-style: italic;
    margin-left: 50px;
  }

  #aboutus_g {
    color: #A89804;
  }

  .aboutus_h1_alt {
    margin-top: -145px;
    font-family: "Red Hat Display";
    margin-bottom: 20px;
    font-size: 25px;
  }


  
}
