@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap");

.Exhibit_header {
  display: flex;
  height: 68px;
  border: none;
}
.adex-pnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c80764;
  width: 100vw;
}
.Exhibit_bar {
  margin-left: 50px;
  height: 37px;
  border-radius: 20px;
}
#site-search {
  width: 405px;
  height: 39px;
  border-radius: 20px;
  border: none;
}
.serbut {
  position: absolute;
  top: 22px;
  left: 823px;
  background-color: transparent;
  border: none;
}
.Exhibit_logo {
  display: flex;
  min-width: 404px;
  height: 44px;
  background-color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 48.95px;
  padding-left: 1%;
  border: none;
  padding-bottom: 1%;
}
.muspic {
  Width: 46px;
  height: 44px;
  margin-top: 2%;
}
.Exhibit_logo h1 {
  margin: 13px 0 0 2px;
  font-family: red hat display;
}
.gold {
  color: #a89804;
}
.Exhibit_mail {
  margin-bottom: 17px;
}
.Exhibit_bell {
  margin-left: 20px;
  margin-bottom: 17px;
}
.Exhibit_logout {
  margin-left: 20px;
  padding-right: 20px;
  margin-bottom: 17px;
}
.proimage {
  margin-top: 9px;
}

/* aside */

.Exhibit_nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 405px;
  border: 1px solid #8a8a8a;
  border-bottom: none;
}
.adex-navtop {
  display: flex;
  flex-direction: column;
}
.Exhibit_dash {
  background-color: white;
  height: 62px;
  width: 404.1px;
  border: 1px solid #8a8a8a;
  text-align: left;
  font-size: 17px;
  padding: 14px 0 0 53px;
  color: black;
}
.exhi {
  border-right: none;
  background-color: #c80764;
  border: none;
  color: white;
}
.Exhibit_container a:link {
  color: black;
  text-decoration: none;
}
.Exhibit_container a:visited {
  text-decoration: none;
}
.Exhibit_container a:hover {
  color: black;
}
.Exhibit_container a:active {
  color: black;
}

.navimen {
  font-size: 18px;
  height: 55px;
  font-family:'Red Hat Display';
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  padding: 10px 0 0 28px;
}
.Exhibit_menu {
  margin-top: 3%;
}

.poly {
  display: block;
  margin-left: 311px;
  margin-top: -47px;
}
.unans {
  padding-bottom: 50px;
}
.exhibitP {
  text-align: left;
  margin: 22px 0 22px 56px;
  font-size: 22px;
  font-weight: bold;
  color: #8a8a8a;
}
.Exhibit_pink {
  color: #c80764;
  margin-left: 5px;
  font-weight: bold;
}

/* cards */

.Exhibit_cards {
  margin: 78px 0 0 68px;
}
.Exhibit_create {
  margin-left: 5px;
}
.column {
  float: left;
  padding-left: 48px;
  padding-bottom: 50px;
}

/* Style the counter cards */
.card {
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding-top: 28px;
  background-color: #a89804;
  color: white;
  width: 328px;
  height: 151px;
  font-size: 21px;
  font-weight: 700;
  border-radius: 20px;
}

.exhibit {
  margin: 0 130px 0 20px;
  font-size: 20px;
}
.createcard {
  display: flex;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  color: #c80764;
  justify-content: center;
  align-items: center;
  width: 328px;
  height: 151px;
  font-size: 21px;
  font-weight: 700;
  border-radius: 20px;
  border: none;
}
.mobilehead {
  display: none;
}
.mobilefoot {
  display: none;
}

.adEx-body {
  display: flex;
  margin-top: 24px;
}

.serwhite {
  display: none;
}

/* Responsive columns */
@media screen and (max-width: 1075px) {
  .Exhibit_container {
    padding-bottom: 50px;
  }
  .Exhibit_logo {
    display: none;
  }
  #site-search {
    display: none;
  }
  .searchsym {
    display: none;
  }

  .Exhibit_component {
    margin-left: 60px;
  }

.adEx-body {
  justify-content: center;
}
  .Exhibit_container {
    overflow-y: hidden;
    background-color: #ffffff;
  }

  .adex-pnav {
    padding-top: 10px;
  }
  .serbut {
    position: initial;
  }
  
  .mobileh1 {
    font-size: 23px;
    margin-top: 40px;
    font-weight: 100;
    color: white;
  }
  .card {
    border-radius: 10px;
    width: 382px;
    height: 133px;
    margin: 20px 0 20px 0;
  }
  .createcard {
    font-size: 18px;
    border-radius: 10px;
    width: 382px;
    height: 152px;
    border: 1px solid #8a8a8a;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .serwhite {
    display: block;
    margin-left: 25px;
    background-color: transparent;
    border: none;
  }
  .proimage {
    margin: 0 10px 0px 0;
    width: 50px;
  }
  .column {
    padding: 0;
  }
  .Exhibit_nav {
    display: none;
  }
  .Exhibit_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 0;
  }
  .mobilefoot {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    background-attachment: scroll;
    height: 60px;
    background-position: 0% 0%;
    bottom: 0pt;
    background-color: rgba(249, 249, 249, 0.94);
  }
  .footpro,
  .footdash,
  .footmess,
  .footexhi {
    border: none;
    background-color: transparent;
  }
}