body {
  font-family: "SF Pro Display";
  font-style: normal;
  overflow-x: hidden;
}
/*grid stuff*/
#Profile_grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas:
    "logo head head"
    "aside main main"
    "aside main main";
}
.Profile_header {
  grid-area: head;
  background: #c80764;
  position: relative;
  width: auto;
  height: 68px;
}
.Profile_logo {
  grid-area: logo;
}
.Profile_aside {
  grid-area: aside;
  background: #c4c4c4;
}
.Profile_mainbody {
  grid-area: main;
}
/*header styling*/
#Profile_profile {
  position: absolute;
  height: 48px;
  width: 48px;
  left: 95%;
  right: 0%;
  top: 16.22%;
  bottom: 18.92%;
}
#Profile_mail,
#exit,
#Profile_bell {
  position: relative;
  width: 1.5em;
  height: 1.5em;
}
#Profile_mail {
  position: absolute;
  left: 80%;
  right: 8.15%;
  top: 16.22%;
  bottom: 18.92%;
}
#Profile_bell {
  position: absolute;
  left: 85%;
  right: 3.98%;
  top: 16.22%;
  bottom: 18.92%;
}
#Profile_exit {
  position: absolute;
  left: 90%;
  right: 0%;
  top: 16.22%;
  bottom: 18.92%;
}
.profileInput {
  position: absolute;
  left: 5%;
  right: 61.61%;
  top: 16.22%;
  bottom: 0%;
  background: #ffffff;
  border-radius: 20px;
  width: 405px;
  height: 37px;
  border: none;
}
.Profile_button {
  position: absolute;
  background: none;
  border: none;
  top: 25%;
  left: 31em;
}

/*aside styling*/
#Profile_button1 {
  background: #c80764;
  color: #ffffff;
  border-radius: 0.25em;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: -0.2px;
  width: 100%;
  border: none;
  padding: 0.7em;
  text-align: left;
  margin-bottom: 34em;
}
.Profile_stats {
  display: inline-block;
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 28px;
  color: #ffffff;
  padding-left: 1em;
}
.Profile_number {
  display: inline-block;
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: #c80764;
}

/*main container styling*/
#Profile_p1 {
  position: relative;
  left: 2em;
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 37px;
  color: #8a8a8a;
}
.Profile_container1 {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #eaeaea;
  padding-top: 2em;
  width: 866px;
  padding-bottom: 3em;
  margin-bottom: 3em;
  left: 156px;
}
#Profile_face {
  width: 171px;
  height: 161px;
}
.Profile_info > p:first-child {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 21px;
}
.Profile_info > p:nth-child(2) {
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  text-align: center;
}
.Profile_info > p:nth-child(3) {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: #c80764;
  text-align: center;
}
.questions {
  background: #a89704;
  border-radius: 7px;
  width: 330px;
  height: 107px;
}
.questions p {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.24px;
  color: #ffffff;
}
.questions > p:first-child {
  font-size: 28px;
  line-height: 49px;
  text-align: center;
  letter-spacing: -0.24px;
}
#Profile_p2 {
  color: #8a8a8a;
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
}
.Profile_container2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 87%;
  margin-bottom: 3em;
  left: 100px;
}
#Profile_flowers,
#Profile_paint,
#Profile_impression {
  width: 271px;
  height: 272px;
}
.Profile_b2 {
  background: none;
  border: none;
}
