@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap");

/*main styling*/
#crex_mainp {
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 37px;
  color: #8a8a8a;
  margin-left: 61px;
  margin-bottom: 10px;
}

.crex_mainlabelT, .crex_mainlabelD, .crex_mainlabelN, .crex_mainlabelU{
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 28px;
  color: #8a8a8a;
  margin-left: 61px;
}

.crex_maininput-3 {
  resize: none;
  width: 830px;
  height: 286px;
  background: #ffffff;
  border: 1px solid #8a8a8a;
  box-sizing: border-box;
  padding: 20px 0 0 20px;
  margin-left: 207.07px;
  font-size: 21px;
  font-weight: 500;
  color: #8a8a8a;
}

.crex_emptyp {
  width: 830px;
  height: 48px;
  font-weight: 500;
  font-size: 21px;
  line-height: 28px;
  color: #8a8a8a;
  text-align: right;
  padding: 10px 10px 0 0;
  border: 1px solid #8a8a8a;
  background: #f9f9f9;
  border-radius: 0px 0px 6px 6px;
  margin: -5px 0 20px 207px;
}
.crex_empty1 {
  width: 830px;
  height: 61px;
  background: #f9f9f9;
  border: 1px solid #8a8a8a;
  box-sizing: border-box;
  border-radius: 6px 6px 0 0;
  margin-left: 37px;
}
.crex_maininput-1 {
  width: 830px;
  height: 50px;
  margin-left: 207.07px;
  background: #ffffff; 
  border: 1px solid #8a8a8a;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 20px 0 14px 20px;
}
.crex_maininput-2 {
  margin-left: 150px;
  margin-top: 10px;
  width: 830px;
  height: 50px;
  margin-left: 19px;
  background: #ffffff;
  border: 1px solid #8a8a8a;
  box-sizing: border-box;
  border-radius: 6px;
}

.crex_maininput-4 {
  margin-bottom: 41px;
  margin-left: 89px;
  width: 830px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #8a8a8a;
  box-sizing: border-box;
  border-radius: 6px;
}
.crex_URL {
margin-left: 20px;
display: flex;
}

.crex_buttoncontainer {
  display: flex;
  flex-direction: row;
  width: 800px;
  justify-content: space-around;
  margin-bottom: 24px;
  margin-left: 173px;
}
.crex_button-1,
.crex_button-2,
.crex_button-3 {
  border: 1px solid #8a8a8a;
  border-radius: 4px;
  background-color: #ffffff;
  height: 144px;
  width: 197px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  font-weight: bold;
  font-family: "Red Hat Display", sans-serif;
}
.crex_pluscircle {
  margin-top: 40px;
}

.crex_plusart {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c80764;
  border-radius: 4px;
  background-color: #ffffff;
  position: relative;
  height: 40px;
  width: 590px;
  left: 327.7px;
  font-weight: 900;
  font-size: 13px;
  letter-spacing: -0.2px;
  margin-bottom: 50px;
}
#crex_save {
  margin-left: 210px;
  display: inline-block;
  height: 40px;
  width: 99px;
  background: #c80764;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  margin-right: 0.8em;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.2px;
  font-weight: bold;
}
#crex_cancel {
  display: inline;
  height: 40px;
  width: 99px;
  border: 1px solid #8a8a8a;
  background-color: #ffffff;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #8a8a8a;
}
#crex_save,
#crex_cancel {
  margin-top: -10%;
}
.crex_savcan {
  margin-bottom: 70px;
}

.crex_header {
  display: flex;
  height: 68px;
  border: none;
}
.crex_pnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c80764;
  width: 100vw;
}
.crex_bar {
  margin-left: 50px;
  height: 37px;
  border-radius: 20px;
}
#crex_site-search {
  width: 405px;
  height: 39px;
  border-radius: 20px;
  border: none;
}
.crex_serbut {
  position: absolute;
  top: 22px;
  left: 823px;
  background-color: transparent;
  border: none;
}
.crex_logo {
  display: flex;
  min-width: 404px;
  height: 44px;
  background-color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 48.95px;
  padding-left: 1%;
  border: none;
  padding-bottom: 1%;
}
.crex_muspic {
  Width: 46px;
  height: 44px;
  margin-top: 2%;
}
.crex_logo h1 {
  margin: 13px 0 0 2px;
  font-family: red hat display;
}
.crex_gold {
  color: #a89804;
}
.crex_mail {
  margin-bottom: 17px;
}
.crex_bell {
  margin-left: 20px;
  margin-bottom: 17px;
}
.crex_logout {
  margin-left: 20px;
  padding-right: 20px;
  margin-bottom: 17px;
}
.crex_proimage {
  margin-top: 9px;
}

/* aside */

.crex_nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 405px;
  border: 1px solid #8a8a8a;
  border-bottom: none;
}
.crex_navtop {
  display: flex;
  flex-direction: column;
}
.crex_dash {
  background-color: white;
  height: 62px;
  width: 404.1px;
  border: 1px solid #8a8a8a;
  text-align: left;
  font-size: 17px;
  padding: 14px 0 0 53px;
  color: black;
}
.crex_add {
  border-right: none;
  background-color: #c80764;
  border: none;
  color: white;
}
.crex_container a:link {
  color: black;
  text-decoration: none;
}
.crex_container a:visited {
  text-decoration: none;
}
.crex_container a:hover {
  color: black;
}
.crex_container a:active {
  color: black;
}

.crex_navimen {
  font-size: 18px;
  height: 55px;
  font-family:'Red Hat Display';
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  padding: 10px 0 0 28px;
}
.crex_menu {
  margin-top: 3%;
}

.crex_poly {
  display: block;
  margin-left: 311px;
  margin-top: -42px;
}
.crex_unans {
  padding-bottom: 50px;
}
.crex_P {
  text-align: left;
  margin: 22px 0 22px 56px;
  font-size: 22px;
  font-weight: bold;
  color: #8a8a8a;
}
.crex_pink {
  color: #c80764;
  margin-left: 5px;
  font-weight: bold;
}

.crex_body {
  display: flex;
  margin-top: 24px;
}

.crex_serwhite {
  display: none;
}

@media screen and (max-width: 1075px) {
  .crex_container {
    padding-bottom: 50px;
    overflow-y: hidden;
    background-color: #ffffff;
  }
  .crex_logo {
    display: none;
  }
  #crex_site-search {
    display: none;
  }
  .crex_searchsym {
    display: none;
  }

  .crex_component {
    margin-left: 60px;
  }

  .crex_body {
    justify-content: center;
  }

  .crex_pnav {
    padding-top: 10px;
  }
  .crex_serbut {
    position: initial;
  }
 
  .crex_serwhite {
    display: block;
    margin-left: 25px;
    background-color: transparent;
    border: none;
  }
  .crex_proimage {
    margin: 0 10px 0px 0;
    width: 50px;
  }
  
  .crex_nav {
    display: none;
  }
}
