* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.exhibit_page_rows img {
  width: 90%;
  height: 16rem;
}
#exhibit_page_image3 {
  border-radius: 10px;
}

.exhibit_page_image-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exhibit_page_image-name p {
  margin-top: 0.6rem;
  font-weight: bold;
}
.exhibit_page_rows {
  margin: auto;
  display: flex;
  width: 60%;
  justify-content: space-between;
}

#exhibit_page_row1 {
  margin-top: 5rem;
}

#exhibit_page_row2 {
  margin-top: 1.3rem;
}
