* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.exhibit_page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exhibit_page_rows img {
  width: 400px;
  height: 370px;
  margin: 0 30px 0 30px;
}

#exhibit_page_image3 {
  border-radius: 10px;
}

.exhibit_page_image-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exhibit_page_image-name p {
  margin: 5px 0 15px 0;
  font-weight: bold;
}
.exhibit_page_rows {
  /* margin: auto; */
  display: flex;
  /* width: 60%; */
  justify-content: space-between;
}

#exhibit_page_row1 {
  margin-top: 20px;
}

#exhibit_page_row2 {
  margin: 20px 0 70px 0;
}

@media (max-width: 1350px) {
  .exhibit_page_rows img {
    width: 200px;
    height: 170px;
  }

  #exhibit_page_row1 {
    display: flex;
    flex-direction: column;
  }
  
  #exhibit_page_row2 {
    display: flex;
    flex-direction: column;
  }

  #exhibit_page_row1 {
    margin: 0;
  }
  
  #exhibit_page_row2 {
    margin: 0;
  }

  .exhibit_page_rows img {
    margin-top: 10px
  }
}
