.SearchPage {
  height: 100%;
  background-color: rgb(229, 229, 229);
}

.search_head {
  display: flex;
  width: 100%;
  height: auto;
  left: 0px;
  top: 27px;
  background-color: #7e7a8f;
  justify-content: space-between;
}

.search_my-account {
  position: relative;
  height: 68px;
  font-family: Hind;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 62px;
  letter-spacing: -0.2px;
  color: #000000;
  margin-top: 20px;
  margin-left: 25px;
}

.search_search-button {
  width: 390px;
  height: 25px;
  background: #ffffff;
  border-radius: 35px;
  border-style: none;
  font-family: Hind;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  color: #8a8a8a;
  margin-top: 30px;
  padding-left: 25px;
  padding-bottom: 35px;
}

.search_search-button img {
  margin-top: 5px;
  margin-left: 265px;
}

.SearchPage h1 {
  margin-left: 50px;
}

.search_degas {
  width: 900px;
  height: 35px;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  border: 0.5px solid gray;
  padding: 10px;
  margin-left: 50px;
}

.search_artsearch {
  display: flex;
}

.search_resultslisting {
  display: flex;
  justify-content: space-around;
  font-family: Hind;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 62px;
  letter-spacing: -0.2px;
  color: #8a8a8a;
  margin-left: 15px;
}

.search_x {
  margin-top: -35px;
  position: relative;
  left: 850px;
}

.search_box-mag {
  padding-top: 15px;
  padding-left: 15px;
  border: 2px solid gray;
  height: 39px;
  width: 43px;
  justify-items: center;
}
p {
  color: black;
  font-size: 27px;
}

.search_vl1 {
  border-left: 1px solid gray;
  height: 25px;
  margin-top: 40px;
}

.search_vl2 {
  border-left: 1px solid gray;
  height: 25px;
  margin-top: 40px;
}

.search_vl3 {
  border-left: 1px solid gray;
  height: 25px;
  margin-top: 40px;
}

.search_container1 {
  margin-left: 50px;
  border: 1px solid gray;
  border-spacing: 15px;
  background-color: #ffffff;
  width: 950px;
  height: 200px;
  padding-top: 45px;
  padding-bottom: 25px;
  padding-left: 35px;
  list-style-type: none;
  margin-bottom: 35px;
}

.search_description1 {
  display: flex;
  margin-left: 285px;
  margin-top: -270px;
}

.search_list {
  list-style-type: none;
  line-height: 4.333em;
  margin-right: 25px;
  margin-bottom: 40px;
}

.search_artwork {
  margin-top: -45px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 25px;
  margin-left: 35px;
}
.search_description2 {
  display: flex;
  margin-left: 285px;
  margin-top: -240px;
}
.search_description3 {
  display: flex;
  margin-left: 285px;
  margin-top: -240px;
}
.search_description4 {
  display: flex;
  margin-left: 285px;
  margin-top: -240px;
}
.search_See-more {
  background: #e8840d;
  border-radius: 50px;
  color: white;
  width: 145px;
  height: 40px;
  border-style: none;
  margin-top: 15px;
  margin-left: 35%;
  margin-right: 35%;
}
