.Addartwork_body {
  font-family: "Red Hat Display", sans-serif;
}
.Addartwork_grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas:
    "logo head head"
    "logo main main"
    "aside main main"
    "aside main main";
}
.Addartwork_header {
  grid-area: head;
  background: #c80764;
  position: relative;
  width: auto;
  height: 68px;
}
/*header styling*/
#Addartwork_profile {
  position: absolute;
  height: 48px;
  width: 48px;
  left: 95%;
  right: 0%;
  top: 16.22%;
  bottom: 18.92%;
}
#Addartwork_mail,
#Addartwork_exit,
#Addartwork_bell {
  position: relative;
  width: 1.5em;
  height: 1.5em;
}
#Addartwork_mail {
  position: absolute;
  left: 80%;
  right: 8.15%;
  top: 16.22%;
  bottom: 18.92%;
}
#Addartwork_bell {
  position: absolute;
  left: 85%;
  right: 3.98%;
  top: 16.22%;
  bottom: 18.92%;
}
#Addartwork_exit {
  position: absolute;
  left: 90%;
  right: 0%;
  top: 16.22%;
  bottom: 18.92%;
}
.Addartwork_input {
  position: absolute;
  left: 5%;
  right: 61.61%;
  top: 16.22%;
  bottom: 0%;
  background: #ffffff;
  border-radius: 20px;
  width: 405px;
  height: 37px;
  border: none;
}
.Addartwork_button {
  position: absolute;
  background: none;
  border: none;
  top: 25%;
  left: 31em;
}
.Addartwork_logo {
  grid-area: logo;
}
/******/
.Addartwork_aside {
  grid-area: aside;
  background: #ffffff;
  border: 1px solid #8a8a8a;
  margin-top: 1em;
  padding-bottom: 2.5em;
}
/*aside styling*/
.Addartwork_nav {
  font-style: normal;
  font-weight: bold;
  color: #000000;
  box-sizing: border-box;
  padding-left: 1em;
  background-color: #ffffff;
  border: none;
  font-size: 28px;
  line-height: 37px;
}
.Addartwork_aside-b1,
.Addartwork_aside-b3 {
  background-color: #ffffff;
  width: 100%;
  border: 1px solid #8a8a8a;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 28px;
  padding: 1em;
  text-align: initial;
}
.Addartwork_aside-b2 {
  width: 100%;
  background: #c80764;
  border: 1px solid #c80764;
  box-sizing: border-box;
  padding: 1em;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 28px;
  color: #ffffff;
  text-align: initial;
}
.Addartwork_aside-b2::before {
  position: absolute;
  content: "";
  width: 53px;
  height: 53px;
  background: white;
  z-index: 100;
  left: 23.2%;
  top: 29.5%;
  transform: rotate(45deg);
}
.Addartwork_aside-b3 {
  margin-bottom: 23em;
}
.Addartwork_stats {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 28px;
  color: #8a8a8a;
  padding-left: 1em;
}
.Addartwork_number {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: #c80764;
}
/****/
.Addartwork_main {
  grid-area: main;
}
/*main styling*/
#Addartwork_mainp {
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 37px;
  color: #8a8a8a;
  margin-left: 61px;
}
form {
  display: inline-block;
}
.Addartwork_mainlabel {
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 28px;
  color: #8a8a8a;
  margin-left: 61px;
}
.Addartwork_maininput-3 {
  resize: none;
  width: 830px;
  height: 286px;
  background: #ffffff;
  border: 1px solid #8a8a8a;
  box-sizing: border-box;
  border-radius: 6px;
  padding-top: 4em;
  margin-left: 207.07px;
  margin-bottom: 34px;
  font-size: 21px;
  font-weight: 500;
  color: #8a8a8a;
}
.Addartwork_empty {
  width: 830px;
  height: 48px;
  background: #f9f9f9;
  border: 1px solid #8a8a8a;
  box-sizing: border-box;
  border-radius: 0px 0px 6px 6px;
  position: absolute;
  left: 24.48em;
  top: 23.16em;
}
.Addartwork_emptyp {
  font-weight: 500;
  font-size: 21px;
  line-height: 28px;
  color: #8a8a8a;
  text-align: right;
  padding-right: 0.8em;
}
.Addartwork_empty1 {
  width: 830px;
  height: 61px;
  background: #f9f9f9;
  border: 1px solid #8a8a8a;
  box-sizing: border-box;
  border-radius: 0px 0px 6px 6px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  position: absolute;
  top: 13.3em;
  left: 24.48em;
}
.Addartwork_maininput-1,
.Addartwork_maininput-2,
.Addartwork_maininput-4 {
  width: 830px;
  height: 50px;
  margin-left: 207.07px;
  background: #ffffff;
  border: 1px solid #8a8a8a;
  box-sizing: border-box;
  border-radius: 6px;
}
.Addartwork_maininput-1 {
  margin-left: 105px;
}
.Addartwork_maininput-4 {
  margin-bottom: 41px;
}

.Addartwork_buttoncontainer {
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-content: space-around;
  margin-bottom: 24px;
  margin-left: 140.07px;
}
.Addartwork_button-1,
.Addartwork_button-2,
.Addartwork_button-3 {
  border: 1px solid #8a8a8a;
  border-radius: 4px;
  background-color: #ffffff;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pluscircle {
  margin-top: 4em;
}

.Addartwork_plusart {
  border: 1px solid #c80764;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #ffffff;
  position: relative;
  height: 40px;
  width: 590px;
  left: 327.7px;
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.2px;
  margin-bottom: 50px;
}
#Addartwork_save {
  margin-left: 240px;
  display: inline-block;
  height: 40px;
  width: 99px;
  background: #c80764;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  margin-right: 0.8em;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.2px;
  font-weight: bold;
}
#Addartwork_cancel {
  display: inline;
  height: 40px;
  width: 99px;
  border: 1px solid #8a8a8a;
  background-color: #ffffff;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #8a8a8a;
}
#Addartwork_save,
#Addartwork_cancel {
  margin-top: 3.5em;
}
