body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/*Searchbar styling*/
.account-searchbar {
  background: #7e7a8f;
  position: relative;
  width: 1600px;
  height: 130px;
  left: 0px;
  top: 27px;
}
.account-searchheader {
  display: inline;
  position: absolute;
  width: 337px;
  height: 68px;
  left: 17px;
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 62px;
  letter-spacing: -0.2px;
  color: #000000;
  margin-right: 6em;
}
.account-searchform {
  display: inline;
  position: absolute;
  left: 37.5em;
  top: 48px;
}
.account-searchbar button {
  position: absolute;
  top: 8px;
  left: 0px;
  margin-left: 550px;
  border: none;
  background: #ffffff;
  border-radius: 50%;
}

.account-input {
  width: 590px;
  height: 35px;
  top: 6px;
  background: #ffffff;
  border-radius: 35px;
  border: none;
}
/*profile section styling*/
.account-profileimage {
  display: flex;
  align-items: center;
  justify-items: center;
  position: absolute;
  width: 237px;
  height: 232px;
  left: 677px;
  top: 424px;
  background: #f9f9f9;
  border-radius: 50%;
}
.account-man {
  width: 132px;
  height: 130px;
  margin-left: 2em;
}
.account-camera {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 807px;
  top: 566px;
}
.account-name {
  position: absolute;
  left: 636px;
  width: 300.95px;
  height: 62px;
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 62px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #180126;
}
.account-mail {
  position: absolute;
  left: 615px;
  top: 650px;
  width: 368px;
  height: 37px;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 37px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #c3c7d2;
}
.account-add {
  position: absolute;
  left: 701px;
  right: 702px;
  top: 779px;
  padding: 1.5em;
  color: #ffffff;
  background: #e8840d;
  border-radius: 50px;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 31px;
  text-align: center;
  letter-spacing: -0.2px;
  border: none;
}
/*main box styling*/
.account-maincontainer {
  padding-top: 5em;
  position: absolute;
  width: 1261px;
  height: 1305px;
  left: 169px;
  top: 948px;
  background: #c3c7d2;
  border-radius: 35px;
  margin-bottom: 5em;
}
#account-subscribe {
  display: inline;
  width: 335px;
  height: 48px;
  left: 209px;
  top: 1067px;
  padding-left: 2em;
  margin-right: 18em;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: -0.2px;
  color: #180126;
}
#account-upcoming {
  display: inline;
  width: 252px;
  height: 48px;
  left: 1114px;
  top: 1069px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: -0.2px;
  color: #8a8a8a;
}
.account-imagecontainer {
  display: flex;
  justify-content: center;
  width: 1261px;
  height: 329px;
  left: 169px;
  top: 1117px;
  background: #dfdee3;
  border-radius: 35px;
}
div.account-imagecontainer img {
  margin-top: 1.5em;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  height: 75%;
}
div.account-imagecontainer > img:first-child,
div.account-imagecontainer > img:nth-child(2) {
  margin-right: 3.75em;
}
#account-history {
  height: 48px;
  left: 695px;
  top: 1520px;
  margin-left: 16em;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: -0.2px;
  color: #000000;
}
.account-questions {
  width: 1260px;
  height: 379px;
  left: 170px;
  top: 1502px;
  background: #dfdee3;
  border-radius: 35px;
}
.account-accordion {
  margin-bottom: 1.5625em;
  width: 863px;
  height: 76px;
  left: 377px;
  top: 1573px;
  margin-left: 12.9375em;
  background: #f9f9f9;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: start;
}

.account-check {
  width: 24px;
  height: 24px;
  left: 396px;
  top: 1599px;
  margin-right: 3em;
}
.account-plus {
  position: absolute;
  right: 20em;
}
/*footer styling*/
.account-line {
  margin-top: 2.5em;
  position: absolute;
  width: 1264px;
  height: 0px;
  left: 170px;
  top: 2365px;
  transform: rotate(0.09deg);
}
.account-footer {
  margin-top: 2.5em;
  position: absolute;
  top: 2433px;
}
div.account-address > p:first-child,
div.account-contact > p:first-child {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #e8840d;
}
.account-address {
  position: absolute;
  width: 198.77px;
  height: 60px;
  left: 171px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #180126;
}
.account-contact {
  position: absolute;
  width: 378px;
  height: 60px;
  left: 604px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #180126;
}
/*contact section styling*/
#email {
  position: relative;
  width: 343px;
  height: 40px;
  border: 1px solid #c3c7d2;
  box-sizing: border-box;
  border-radius: 4px;
}
.account-label {
  display: block;
}
.account-emailcontainer button {
  position: absolute;
  left: 16em;
  top: 10.2em;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.2px;
  color: #ffffff;
  background: #e8840d;
  border-radius: 50px;
  border: none;
}
.account-links {
  position: absolute;
  width: 288px;
  height: 20px;
  left: 1148px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.2px;
  color: #000000;
  font-style: normal;
  font-weight: bold;
}
