@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap");

.adminprofile_body {
  display: block;
  max-width: 1600px;
  max-height: 1024px;
  font-family: "Read Hat Display";
}
.adminprofile_header {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adminprofile_musad {
  margin-left: 18px;
}
.adminprofile_logo {
  margin-left: 10px;
}
.adminprofile_nav {
  display: flex;
  background-color: #c80764;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin-top: 1px;
}

.adminprofile_bar {
  position: absolute;
  left: 460px;
  top: 12px;
}
.adminprofile_magnifier {
  position: absolute;
  left: 820px;
  top: 19px;
}
.adminprofile_icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 2em;
}
.adminprofile_icons > img {
  padding: 0 0.5em;
}
.adminprofile_text-2 {
  position: absolute;
  left: 470px;
  top: 100px;
  font-size: 25px;
  color: #BABABA;
}
.adminprofile_rectangle2 {
  position: absolute;
  margin-top: 100px;
  left: 530px;
}
.adminprofile_text {
  position: absolute;
  top: 20px;
  left: 40px;
  color: white;
}
.adminprofile_text-3 {
  position: absolute;
  top: 840px;
  color: white;
  left: 40px;
}
.adminprofile_text-3 span {
  color: #c80764;
}
.adminprofile_side-bar {
  position: absolute;
  top: 90px;
}
.adminprofile_side-container {
  position: absolute;
  top: 164px;
  bottom: 0%;
  overflow: hidden;
}
.adminprofile_mid-container img {
  position: absolute;
  left: 860px;
  top: 230px;
}
.adminprofile_lower-container {
  margin-left: 650px;
  margin-right: auto;
  position: absolute;
  top: 425px;
  height: -350px;
  width: 600px;
  text-align: center;
  background-color: #eaeaea;
}
.adminprofile_lower-container h3,
h4,
h3 {
  margin: 0;
  padding-bottom: 6px;
}
adminprofile_tiff {
  color: black;
  font-weight: bold;
}
adminprofile_tiffe {
  color: black;
}
.adminprofile_cur {
  color: magenta;
}
.adminprofile_Profile2 button {
  position: absolute;
  background-color: #a89704;
  color: white;
  width: 250px;
  height: 60px;
  border-radius: 7px;
  border: 2px;
  top: 530px;
  bottom: 50px;
  left: 830px;
}
.adminprofile_text-4 {
  position: absolute;
  top: 650px;
  left: 840px;
  color: #BABABA;
  font-size: 20px;
}
.adminprofile_left-arrow {
  position: absolute;
  top: 880px;
  float: left;
  left: 460px;
}
.adminprofile_box-container {
  display: flex;
  float: left;
  width: 33.33%;
  margin-top: 650px;
  margin-left: 520px;
  justify-content: space-between;
}
.adminprofile_box2 {
  display: flex;
  float: left;
  width: 33.33%;
  margin-top: 0px;
  margin-left: 32px;
  align-items: center;
}
.adminprofile_box3 {
  float: left;
  margin-top: 50;
  margin-left: 140px;
}
.adminprofile_right-arrow {
  position: absolute;
  top: 880px;
  right: 80px;
}
