.adminProfile_body {
  font-family: "SF Pro Display";
  font-style: normal;
  overflow-x: hidden;
}
/*grid stuff*/
#adminProfile_grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas:
    "logo head head"
    "aside main main"
    "aside main main";
}
.adminProfile_header {
  grid-area: head;
  background: #c80764;
  position: relative;
  width: auto;
  height: 68px;
}
.adminProfile_logo {
  grid-area: logo;
  padding-top: 7px;
}
.adminProfile_aside {
  grid-area: aside;
  background: #c4c4c4;
}
.adminProfile_mainbody {
  grid-area: main;
}
/*header styling*/
#adminProfile_profile {
  position: absolute;
  height: 48px;
  width: 48px;
  left: 95%;
  right: 0%;
  top: 16.22%;
  bottom: 18.92%;
}
#adminProfile_mail,
#adminexit,
#adminProfile_bell {
  position: relative;
  width: 1.5em;
  height: 1.5em;
}
#adminProfile_mail {
  position: absolute;
  left: 80%;
  right: 8.15%;
  top: 23px;
  bottom: 18.92%;
}
#adminProfile_bell {
  position: absolute;
  left: 85%;
  right: 3.98%;
  top: 23px;
  bottom: 18.92%;
}
#adminProfile_exit {
  position: absolute;
  left: 90%;
  right: 0%;
  top: 23px;
  bottom: 18.92%;
}
.adminprofileInput {
  position: absolute;
  left: 5%;
  right: 61.61%;
  top: 16px;
  bottom: 0%;
  background: #ffffff;
  border-radius: 20px;
  width: 405px;
  height: 37px;
  border: none;
}
.adminProfile_button {
  position: absolute;
  background: none;
  border: none;
  top: 22px;
  left: 430px;
}

/*aside styling*/
#adminProfile_button1 {
  background: #c80764;
  color: #ffffff;
  border-radius: 0.25em;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: -0.2px;
  width: 100%;
  border: none;
  padding: 0.7em;
  text-align: left;
  margin-bottom: 655px;
}
.adminProfile_stats {
  display: inline-block;
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 28px;
  color: #ffffff;
  margin: 0 0 22px 59px;
}
.adminProfile_number {
  display: inline-block;
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: #c80764;
  margin-left: 10px;
}

/*main container styling*/
#adminProfile_p1 {
  position: relative;
  left: 60px;
  font-family: "Red Hat Display", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  margin-top: 4%;
  line-height: 37px;
  color: #8a8a8a;
}
.adminProfile_container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #eaeaea;
  padding-top: 2em;
  margin: 20px 0 0 200px;
  width: 866px;
  padding-bottom: 28px;
}
#adminProfile_face {
  width: 171px;
  height: 161px;
  margin-bottom: 23px;
}
.adminProfile_info > p:first-child {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 21px;
  margin-bottom: 3px;
}
.adminProfile_info > p:nth-child(2) {
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  text-align: center;
  margin-bottom: 3px;
}
.adminProfile_info > p:nth-child(3) {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  color: #c80764;
  text-align: center;
  margin-bottom: 36px;
}
.adminquestions {
  background: #a89704;
  border-radius: 7px;
  width: 330px;
  height: 107px;
}
.adminquestions p {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.24px;
  color: #ffffff;
}
.adminquestions > p:first-child {
  font-size: 28px;
  line-height: 49px;
  text-align: center;
  letter-spacing: -0.24px;
}
#adminProfile_p2 {
  color: #8a8a8a;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  margin-top: 20px;
  line-height: 25px;
  text-align: center;
}
.adminProfile_container2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 975px;
  margin: 20px 0 0 145px;
  margin-bottom: 3em;
}
#adminProfile_flowers,
#adminProfile_paint,
#adminProfile_impression {
  width: 271px;
  height: 272px;
}
.adminProfile_b2 {
  background: none;
  border: none;
}



.adminProfile_total {
  background-color: #a89704;
  color: white;
  width: 330px;
  height: 107px;
  border-radius: 7px;
  border: 2px;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  
  text-align: center;
  letter-spacing: -0.24px;
  padding-bottom: 15px;
  color: #FFFFFF;
}

.adminProfile_num {
  font-size: 28px;
  line-height: 49px;
}
